h3 {
  text-align: center;
}

#players {
  display: flex;
  margin-top: -20px;
  justify-content: center;
}

p {
  margin: 20px;
}

.container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board {
  display: grid;
  width: 300px;
  height: 300px;
  grid-template-columns: auto auto auto;
}

.block {
  display: flex;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  border: 3px solid black;
}

#block_0, #block_1, #block_2 {
  border-top: none;
}

#block_0, #block_3, #block_6 {
  border-left: none;
}

#block_6, #block_7, #block_8 {
  border-bottom: none;
}

#block_2, #block_5, #block_8 {
  border-right: none;
}

.buttons {
  display: flex;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
}

#delete-button {
  margin-right: 50px;
}

#edit-button {
  margin-left: 50px;
}

.editform {
  margin-top: 30px;
}

.boardgrid {
  margin-top: 5px;
  margin-left: 85px;
}

#save {
  margin-top: 5px;
  margin-left: 125px;
  margin-bottom: 10px;
}
